<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.siroytman.indiewindymobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name=".ui.activity.MoreActivity" />
        <activity android:name=".ui.activity.DonationActivity" />

        <service
            android:name=".services.PlayerForegroundService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.PlayerNotificationIntentService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.activity.ConcertActivity" />
        <activity android:name=".ui.activity.ArtistActivity" />
        <activity android:name=".ui.activity.PlayerActivity" />
        <activity android:name=".ui.activity.AlbumActivity" />
        <activity
            android:name=".ui.activity.NavigationActivity"
            android:label="@string/title_activity_navigation" />
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>